@import './../var';
input[type="submit"],.button{
    padding: 13px;
    text-align: center;
    text-decoration: none;
    background: $blue;
    outline: none;
    cursor: pointer;
    color: #fff;
    border: 1px solid $blue;
    font-weight: bold;
    min-width: 130px;
    border-radius: 3px;
}
.round{
    border-radius: 100px !important;
}