@import './../var';
.dashnav{
    background: #fff;
    border-bottom: 2px solid #ddd;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px;
    .username{
        color: #555;
        float: right;
        margin-right: 80px;
        img{
            border-radius: 4px;
            float: left;
        }
        a{
            font-weight: bold;
            margin-top: 10px;
            display: block;
            margin-left: 50px;
        }
    }
}