.sidenav{
    ul{
        margin-left: 20px;
        padding-right: 40px;
        li{
            list-style: none;
            font-weight: bold;
            padding: 10px 10px;
            a{
                text-decoration: none;
                color: inherit;
            }
            &.active{
                background: #6c97b1;
                color: #fff;
            }
        }
    }
}