@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatin-Black.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatin-Black.woff2") format("woff2"), url("../fonts/LatoLatin-Black.woff") format("woff"), url("../fonts/LatoLatin-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatin-BlackItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatin-BlackItalic.woff2") format("woff2"), url("../fonts/LatoLatin-BlackItalic.woff") format("woff"), url("../fonts/LatoLatin-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatin-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatin-Bold.woff2") format("woff2"), url("../fonts/LatoLatin-Bold.woff") format("woff"), url("../fonts/LatoLatin-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatin-BoldItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatin-BoldItalic.woff2") format("woff2"), url("../fonts/LatoLatin-BoldItalic.woff") format("woff"), url("../fonts/LatoLatin-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatin-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatin-Italic.woff2") format("woff2"), url("../fonts/LatoLatin-Italic.woff") format("woff"), url("../fonts/LatoLatin-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatin-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatin-Italic.woff2") format("woff2"), url("../fonts/LatoLatin-Italic.woff") format("woff"), url("../fonts/LatoLatin-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatin-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatin-Medium.woff2") format("woff2"), url("../fonts/LatoLatin-Medium.woff") format("woff"), url("../fonts/LatoLatin-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatin-MediumItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatin-MediumItalic.woff2") format("woff2"), url("../fonts/LatoLatin-MediumItalic.woff") format("woff"), url("../fonts/LatoLatin-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatin-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatin-Medium.woff2") format("woff2"), url("../fonts/LatoLatin-Medium.woff") format("woff"), url("../fonts/LatoLatin-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatin-MediumItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatin-MediumItalic.woff2") format("woff2"), url("../fonts/LatoLatin-MediumItalic.woff") format("woff"), url("../fonts/LatoLatin-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatin-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatin-Regular.woff2") format("woff2"), url("../fonts/LatoLatin-Regular.woff") format("woff"), url("../fonts/LatoLatin-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatin-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatin-Regular.woff2") format("woff2"), url("../fonts/LatoLatin-Regular.woff") format("woff"), url("../fonts/LatoLatin-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatin-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatin-Thin.woff2") format("woff2"), url("../fonts/LatoLatin-Thin.woff") format("woff"), url("../fonts/LatoLatin-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'LatoLatin';
  src: url("../fonts/LatoLatin-ThinItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoLatin-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLatin-ThinItalic.woff2") format("woff2"), url("../fonts/LatoLatin-ThinItalic.woff") format("woff"), url("../fonts/LatoLatin-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 200;
  text-rendering: optimizeLegibility; }

/*# sourceMappingURL=fontsnin.css.map */
