.dashcont{
    margin-top: 8%;   
}
.dashboard{
    .postform{
        width: 100%;
        background: #fff;
        border: 1px solid #e4e4e4;
        padding: 20px;
        display: block;
        textarea{
            width: 100%;
            outline: none;
            padding: 10px;
            font-size: 20px;
            resize: none;
        }

    }
    .loading_cont{
        width: 100%;
        text-align: center;
        .loading_comp{
            display: none;
        }
    }
}
.drop_p{
    position: absolute;
    background: #fff;
    display: none;
    width: 150px;
    top: 100%;
    border: 1px solid #ddd;
    ul{
        li{
            list-style: none;
            a{
                margin-left: 20px !important;
                margin-right: 20px !important;
                text-decoration: none;
                color: #333;
                border-top: 1px solid #ddd;
                padding: 6px 0px;
                font-size: 14px;
                margin-top: 0 !important;
            }
            &:first-child{
                a{
                    border-top: 0;
                }
            }
        }
    }
}
@import './post_cont';
@import './comments';