.post_container{
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 20px;
    border-radius: 4px;
    .name{
        font-weight: bold;
    }
    .ppiccont{
        img{
            width: 50px;
            border-radius: 4px;
            float: left;
            margin-right: 10px;
            border: 1px solid #ddd;
        }
        .floatafterimg{
            .name{

            }
            .time{
                display: block;
                color: #999;
                font-size: 14px;
            }
        }
    }
}