.likebox{
    float: left;
    width: 10%;
    display: block;
    text-align: center;
    .post_like,.post_dislike{
        cursor: pointer;
        font-size: 23px;
        margin-top: 15px;
        color: #95c12a;
        display: block;
        i{

        }
    }
    .post_dislike{
        color: #ff003b;
    }
    .post_count{
        color: #888;
        font-weight: 700;
        margin-top: 5px;
        font-size: 13px;
    }
}
.post_cont_inner{
    width: 90%;
    display: block;
    float: right;
}
.post_cont_cont{
    margin-top: 20px;
}
.post_container{
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    .name{
        font-weight: bold;
    }
    .ppiccont{
        img{
            width: 50px;
            border-radius: 4px;
            float: left;
            margin-right: 10px;
            border: 1px solid #ddd;
        }
        .floatafterimg{
            .name{

            }
            .time{
                display: block;
                color: #999;
                font-size: 14px;
            }
        }
    }
}